dig-src/main/default/flows/DIG_Membership_OnCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_EndDate</name>
        <label>Set_EndDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_EndDate2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EndDate_OnOrAfter_Today</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_StartDate_Today</name>
        <label>Set_StartDate_Today</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Active</name>
        <label>Set_Status_Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Status_Lapsed</name>
        <label>Set_Status_Lapsed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lapsed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_2</name>
        <label>EndDate_Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EndDate_OnOrAfter_Today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EndDateBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EndDate</targetReference>
            </connector>
            <label>EndDateBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>EndDate_OnOrAfter_Today</name>
        <label>EndDate_OnOrAfter_Today?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Status_Lapsed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Active</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>StartDate_Blank</name>
        <label>StartDate_Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StartDateBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_StartDate_Today</targetReference>
            </connector>
            <label>StartDateBlank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Set_EndDate2</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate__c + 365}</expression>
    </formulas>
    <interviewLabel>DIG_Membership_OnCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DIG_Membership_OnCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartDate_Blank</targetReference>
        </connector>
        <object>Membership__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
