dig-src/main/default/flows/DIG_Membership_Screened_Onboarding.flow-meta.xml
<?xml version="1.0" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Choice_Free</name>
        <choiceText>Free</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Free</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Screened</name>
        <choiceText>Screened</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Screened</stringValue>
        </value>
    </choices>
    <assignments>
        <name>Fill_Contact_Blanks</name>
        <label>Fill Contact Blanks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_FirstName_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_LastName_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Mobile_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.DIG_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Org_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ContactId_From_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactId_From_Var</name>
        <label>Set Contact Id From Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactId_From_Create</name>
        <label>Set Contact Id From Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Term_Base</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Contact</name>
        <label>Set New Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.DIG_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Organization_Agency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Term_Base</name>
        <label>Init Term Base</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMembershipTerm.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMembershipTerm.Term_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMembershipTerm.Term_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Membership_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Term_Status_Pending</name>
        <label>Set Term Status Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMembershipTerm.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Membership_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Term_Status_Active</name>
        <label>Set Term Status Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMembershipTerm.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Membership_Term</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Contact_Blanks</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Membership_Type</name>
        <label>Membership Type Screened?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Term_Status_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Free</defaultConnectorLabel>
        <rules>
            <name>Screened_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Term_Status_Pending</targetReference>
            </connector>
            <label>Screened</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Confirm_Type</name>
        <label>Confirm Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Confirm_Free</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Free</defaultConnectorLabel>
        <rules>
            <name>Screened_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Membership_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Confirm_Screened</targetReference>
            </connector>
            <label>Screened</label>
        </rules>
    </decisions>
    <description>Minimal screened onboarding flow. Omissions based on repo metadata: Membership_Term__c has no Membership_Type__c or Screening_Note__c fields, so those values are not written. Membership_Term__c.Status__c does not include \"Pending Review\"; this flow uses \"Pending\" for screened terms. No Comms_Touch__c or similar ops envelope object exists in dig-src, so no ops log record is created.</description>
    <environments>Default</environments>
    <formulas>
        <name>Contact_FirstName_Value</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varContact.FirstName}), {!First_Name}, {!varContact.FirstName})</expression>
    </formulas>
    <formulas>
        <name>Contact_LastName_Value</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varContact.LastName}), {!Last_Name}, {!varContact.LastName})</expression>
    </formulas>
    <formulas>
        <name>Contact_Email_Value</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varContact.Email}), {!Email}, {!varContact.Email})</expression>
    </formulas>
    <formulas>
        <name>Contact_Mobile_Value</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varContact.MobilePhone}), {!Mobile_Phone}, {!varContact.MobilePhone})</expression>
    </formulas>
    <formulas>
        <name>Contact_Org_Value</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varContact.DIG_Organization__c}), {!Organization_Agency}, {!varContact.DIG_Organization__c})</expression>
    </formulas>
    <formulas>
        <name>Term_End_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate + 365}</expression>
    </formulas>
    <interviewLabel>DIG_Membership_Screened_Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DIG_Membership_Screened_Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varContact</inputReference>
        <connector>
            <targetReference>Set_ContactId_From_Create</targetReference>
        </connector>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Term</name>
        <label>Create Membership Term</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varMembershipTerm</inputReference>
        <connector>
            <targetReference>Decision_Confirm_Type</targetReference>
        </connector>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_By_Email</name>
        <label>Get Contact By Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContact</outputReference>
        <storeOutputAutomatically>false</storeOutputAutomatically>
        <connector>
            <targetReference>Decision_Contact_Found</targetReference>
        </connector>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varContact</inputReference>
        <connector>
            <targetReference>Init_Term_Base</targetReference>
        </connector>
    </recordUpdates>
    <screens>
        <name>Screen_Onboarding</name>
        <label>Screened Membership Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Organization_Agency</name>
            <dataType>String</dataType>
            <fieldText>Organization / Agency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Membership_Type</name>
            <choiceReferences>Choice_Free</choiceReferences>
            <choiceReferences>Choice_Screened</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Screened</stringValue>
            </defaultValue>
            <fieldText>Membership Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screening_Note</name>
            <dataType>String</dataType>
            <fieldText>Short Screening Note</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Membership_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Screened</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consent</name>
            <dataType>Boolean</dataType>
            <fieldText>I certify the above information is accurate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <connector>
            <targetReference>Get_Contact_By_Email</targetReference>
        </connector>
    </screens>
    <screens>
        <name>Screen_Confirm_Screened</name>
        <label>Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screened</name>
            <dataType>String</dataType>
            <fieldText>Thanks - your membership is pending review. DIG Ops will follow up.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Screen_Confirm_Free</name>
        <label>Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Free</name>
            <dataType>String</dataType>
            <fieldText>Welcome - your membership is active.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Onboarding</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMembershipTerm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership_Term__c</objectType>
    </variables>
</Flow>
